Repository polywrap/file-system, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dOrgJelli, @krisbitney, @Niraj-Kamdar

chore(rust): set version to 0.0.1-beta.1
  implementations/rs/Cargo.toml
Owners: @dOrgJelli

chore: update crate to last version
  implementations/rs/Cargo.toml
  implementations/rs/src/lib.rs
  implementations/rs/tests/e2e.rs
Owners: @dOrgJelli

chore: bump version of plugin
  implementations/rs/Cargo.toml
Owners: @dOrgJelli

chore: add monorepo workspace
  fs-monorepo.code-workspace
Owners: @dOrgJelli

chore: update interface to origin 0.10
  .nvmrc
  interface/package.json
  interface/polywrap.graphql
  interface/polywrap.yaml
  interface/resources/README.md
  interface/yarn.lock
Owners: @dOrgJelli, @krisbitney

chore: update js implementation
  implementations/js/README.md
  implementations/js/package.json
  implementations/js/polywrap.graphql
  implementations/js/polywrap.yaml
  implementations/js/src/__tests__/e2e.spec.ts
  implementations/js/src/__tests__/types/polywrap.graphql
  implementations/js/src/__tests__/types/polywrap.yaml
  implementations/js/src/index.ts
  implementations/js/src/schema.graphql
  implementations/js/src/utils/fileSystemEncodingToBufferEncoding.ts
  implementations/js/yarn.lock
Owners: @krisbitney

chore: fix cd
  .nvmrc
  implementations/js/.nvmrc
  interface/.nvmrc
Owners: @dOrgJelli, @krisbitney

[CD] file-system-interface
  interface/URI.txt
Owners: @krisbitney

release: 0.1.0a1 python-plugin
  implementations/py/pyproject.toml
Owners: @Niraj-Kamdar

fix: cd
  .github/workflows/file-system-plugin-py-cd.yaml
Owners: @dOrgJelli

[CD] release 0.1.0a1python-plugin | attempt 2
  implementations/py/pyproject.toml
Owners: @Niraj-Kamdar

chore: dont import all dependencies from client crate
  implementations/rs/.gitignore
  implementations/rs/Cargo.toml
  implementations/rs/src/lib.rs
  implementations/rs/src/wrap/mod.rs
  implementations/rs/src/wrap/module.rs
  implementations/rs/src/wrap/types.rs
  implementations/rs/src/wrap/wrap.info.rs
Owners: @dOrgJelli

chore: bump version of crate
  implementations/rs/Cargo.toml
Owners: @dOrgJelli

chore: remove --allow-dirty flag from release
  .github/workflows/file-system-plugin-rs-cd.yaml
Owners: @dOrgJelli

chore: update with latest client version
  implementations/rs/Cargo.toml
  implementations/rs/package.json
  implementations/rs/src/lib.rs
  implementations/rs/src/wrap/module.rs
  implementations/rs/src/wrap/types.rs
  implementations/rs/src/wrap/wrap.info.rs
Owners: @dOrgJelli

chore: improve tests structure
  implementations/rs/src/lib.rs
  implementations/rs/src/wrap/types.rs
  implementations/rs/tests/it/main.rs
Owners: @dOrgJelli

chore: remove codegen step from rust ci/cd
  .github/workflows/file-system-plugin-rs-cd.yaml
  .github/workflows/file-system-plugin-rs-ci.yaml
Owners: @dOrgJelli

updated file system interface
  interface/build/wrap.info
  interface/package.json
  interface/polywrap.graphql
  interface/yarn.lock
Owners: @krisbitney

adding interface/build to gitignore
  interface/build/wrap.info
Owners: @krisbitney

added improved feature-complete interface draft
  interface/package.json
  interface/polywrap.graphql
  interface/resources/README.md
  interface/yarn.lock
Owners: @krisbitney

chore: update rust client version & remove namespace from import
  implementations/rs/Cargo.toml
  implementations/rs/src/lib.rs
  implementations/rs/src/schema.graphql
  implementations/rs/src/wrap/module.rs
  implementations/rs/src/wrap/types.rs
  implementations/rs/src/wrap/wrap.info.rs
  implementations/rs/tests/it/main.rs
Owners: @dOrgJelli

chore: update .gitignore to ignore generated files from tests
  implementations/rs/.gitignore
Owners: @dOrgJelli

chore: update client to v 0.1.6-beta.4 & bump version
  implementations/rs/Cargo.toml
Owners: @dOrgJelli

chore: update client to v 0.1.6-beta.4 & bump version
  implementations/rs/Cargo.toml
Owners: @dOrgJelli

returning serde bytes ByteBuf to properly serialize
  implementations/rs/src/lib.rs
  implementations/rs/src/wrap/module.rs
Owners: @dOrgJelli

fixed failing deserialization test
  implementations/rs/tests/it/main.rs
Owners: @dOrgJelli

fix: serde with bytes (#21)
  implementations/rs/src/lib.rs
  implementations/rs/src/wrap/module.rs
  implementations/rs/tests/it/main.rs
Owners: @dOrgJelli

chore: update polywrap crates version & bump fs crates version
  implementations/rs/Cargo.toml
Owners: @dOrgJelli

feat: rust implementation (#17)
  .github/workflows/file-system-plugin-rs-cd.yaml
  .github/workflows/file-system-plugin-rs-ci.yaml
  implementations/rs/.gitignore
  implementations/rs/Cargo.toml
  implementations/rs/package.json
  implementations/rs/polywrap.yaml
  implementations/rs/src/lib.rs
  implementations/rs/src/schema.graphql
  implementations/rs/src/wrap/mod.rs
  implementations/rs/src/wrap/module.rs
  implementations/rs/src/wrap/types.rs
  implementations/rs/src/wrap/wrap.info.rs
  implementations/rs/tests/it/main.rs
  implementations/rs/tests/samples/sample.txt
Owners: @dOrgJelli

wip: bump python-client version 0.1.0a31
  implementations/py/poetry.lock
  implementations/py/polywrap_fs_plugin/__init__.py
  implementations/py/pyproject.toml
  implementations/py/tests/integration/test_exists.py
  implementations/py/tests/integration/test_mkdir.py
  implementations/py/tests/integration/test_read_file.py
  implementations/py/tests/integration/test_read_file_as_string.py
  implementations/py/tests/integration/test_rm.py
  implementations/py/tests/integration/test_rmdir.py
  implementations/py/tests/integration/test_write_file.py
  implementations/py/tests/unit/test_exists.py
  implementations/py/tests/unit/test_mkdir.py
  implementations/py/tests/unit/test_read_file.py
  implementations/py/tests/unit/test_read_file_as_string.py
  implementations/py/tests/unit/test_rm.py
  implementations/py/tests/unit/test_rmdir.py
  implementations/py/tests/unit/test_write_file.py
Owners: @Niraj-Kamdar

chore: bump version
  implementations/py/poetry.lock
  implementations/py/pyproject.toml
Owners: @Niraj-Kamdar

fix: polywrap npm version
  implementations/py/package.json
  implementations/py/yarn.lock
Owners: @Niraj-Kamdar

fix: readme file
  implementations/py/README.md
Owners: @Niraj-Kamdar

fix: readme file
  implementations/py/README.md
Owners: @Niraj-Kamdar

chore: do not bump version
  implementations/py/pyproject.toml
Owners: @Niraj-Kamdar

added typed errors instead of unwrap
  implementations/rs/Cargo.toml
  implementations/rs/src/lib.rs
Owners: @dOrgJelli

ordering and formatting
  implementations/rs/src/lib.rs
  implementations/rs/tests/it/main.rs
Owners: @dOrgJelli

Update implementations/py/README.md
  implementations/py/README.md
Owners: @Niraj-Kamdar

Update README.md
  implementations/py/README.md
Owners: @Niraj-Kamdar

bump polywrap-fs-plugin version to 0.1.0a2
  implementations/py/pyproject.toml
Owners: @Niraj-Kamdar

.github/CODEOWNERS:

# Default
* @dOrgJelli

# Interface
interface @krisbitney

# Js implementation
implementations/js @krisbitney

# Py implementation
implementations/py @Niraj-Kamdar
