Repository polywrap/file-system, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dOrgJelli, @krisbitney, @Niraj-Kamdar

bump python plugin version to 0.1.0a3
  implementations/py/pyproject.toml
Owners: @Niraj-Kamdar

chore: update with latest msgpack
  implementations/rs/Cargo.toml
  implementations/rs/tests/it/main.rs
Owners: @dOrgJelli

chore: bump polywrap-client to 0.1.0a34
  implementations/py/poetry.lock
  implementations/py/pyproject.toml
Owners: @Niraj-Kamdar

fix: lock file
  implementations/py/poetry.lock
Owners: @Niraj-Kamdar

bump polywrap-client version to 0.1.0a35
  implementations/py/poetry.lock
  implementations/py/pyproject.toml
Owners: @Niraj-Kamdar

[CD] release 0.1.0a4 python plugin
  implementations/py/pyproject.toml
Owners: @Niraj-Kamdar

chore: deploy file-system interface to wrapscan
  .github/workflows/file-system-interface-cd.yaml
  interface/.nvmrc
  interface/README.md
  interface/build/wrap.info
  interface/package.json
  interface/polywrap.deploy.yaml
  interface/polywrap.yaml
  interface/resources/README.md
  interface/yarn.lock
Owners: @dOrgJelli, @krisbitney

chore: add docs
  interface/polywrap.docs.yaml
  interface/polywrap.yaml
Owners: @krisbitney

[CD] file-system-interface
  interface/URI.txt
  interface/deployment.json
Owners: @krisbitney

chore: update to wrapscan URIs
  implementations/js/.nvmrc
  implementations/js/README.md
  implementations/js/package.json
  implementations/js/polywrap.graphql
  implementations/js/polywrap.yaml
  implementations/js/src/__tests__/e2e.spec.ts
  implementations/js/src/__tests__/types/polywrap.graphql
  implementations/js/src/__tests__/types/polywrap.yaml
  implementations/js/yarn.lock
Owners: @krisbitney

init kotlin filesystem plugin
  implementations/kt/.gitignore
  implementations/kt/.nvmrc
  implementations/kt/build.gradle.kts
  implementations/kt/convention-plugins/build.gradle.kts
  implementations/kt/convention-plugins/src/main/kotlin/convention.publication.gradle.kts
  implementations/kt/gradle.properties
  implementations/kt/gradle/wrapper/gradle-wrapper.jar
  implementations/kt/gradle/wrapper/gradle-wrapper.properties
  implementations/kt/gradlew
  implementations/kt/gradlew.bat
  implementations/kt/package.json
  implementations/kt/polywrap.graphql
  implementations/kt/polywrap.yaml
  implementations/kt/settings.gradle.kts
  implementations/kt/src/main/kotlin/io/polywrap/plugins/filesystem/FileSystemPlugin.kt
  implementations/kt/src/test/kotlin/EmptyMockInvoker.kt
  implementations/kt/src/test/kotlin/io/polywrap/plugins/filesystem/FileSystemPluginIntegrationTest.kt
  implementations/kt/src/test/kotlin/io/polywrap/plugins/filesystem/FileSystemPluginTest.kt
  implementations/kt/yarn.lock
Owners: @dOrgJelli

kotlin fs plugin bindings fix
  implementations/kt/.gitignore
  implementations/kt/package.json
  implementations/kt/polywrap.graphql
  implementations/kt/src/main/kotlin/io/polywrap/plugins/filesystem/wrap/module.kt
  implementations/kt/src/main/kotlin/io/polywrap/plugins/filesystem/wrap/types.kt
  implementations/kt/src/main/kotlin/io/polywrap/plugins/filesystem/wrap/wrap.info.kt
  implementations/kt/yarn.lock
Owners: @dOrgJelli

moved doc generation to publish task
  implementations/kt/build.gradle.kts
  implementations/kt/convention-plugins/src/main/kotlin/convention.publication.gradle.kts
Owners: @dOrgJelli

fixed kotlin plugin publishing and added CI/CD
  .github/workflows/file-system-plugin-kt-cd.yaml
  .github/workflows/file-system-plugin-kt-ci.yaml
  implementations/kt/build.gradle.kts
  implementations/kt/convention-plugins/build.gradle.kts
  implementations/kt/convention-plugins/src/main/kotlin/convention.publication.gradle.kts
Owners: @dOrgJelli

removed unused dokka configuration in build.gradle.kts
  implementations/kt/build.gradle.kts
Owners: @dOrgJelli

chore: point rust plugin to workspace
  implementations/rs/.gitignore
  implementations/rs/Cargo.toml
  implementations/rs/README.md
  implementations/rs/package.json
  implementations/rs/polywrap.yaml
  implementations/rs/src/lib.rs
  implementations/rs/src/schema.graphql
  implementations/rs/src/wrap/mod.rs
  implementations/rs/src/wrap/module.rs
  implementations/rs/src/wrap/types.rs
  implementations/rs/src/wrap/wrap.info.rs
  implementations/rs/tests/it/main.rs
  implementations/rs/tests/samples/sample.txt
Owners: @dOrgJelli

chore(rust): remove ci scripts
  .github/workflows/file-system-plugin-rs-cd.yaml
  .github/workflows/file-system-plugin-rs-ci.yaml
Owners: @dOrgJelli

chore: point rust plugin to workspace (#35)
  .github/workflows/file-system-plugin-rs-cd.yaml
  .github/workflows/file-system-plugin-rs-ci.yaml
  implementations/rs/.gitignore
  implementations/rs/Cargo.toml
  implementations/rs/README.md
  implementations/rs/package.json
  implementations/rs/polywrap.yaml
  implementations/rs/src/lib.rs
  implementations/rs/src/schema.graphql
  implementations/rs/src/wrap/mod.rs
  implementations/rs/src/wrap/module.rs
  implementations/rs/src/wrap/types.rs
  implementations/rs/src/wrap/wrap.info.rs
  implementations/rs/tests/it/main.rs
  implementations/rs/tests/samples/sample.txt
Owners: @dOrgJelli

updated dependencies and publishing
  implementations/kt/build.gradle.kts
  implementations/kt/convention-plugins/src/main/kotlin/convention.publication.gradle.kts
  implementations/kt/settings.gradle.kts
  implementations/kt/src/commonMain/kotlin/io/polywrap/plugins/filesystem/FileSystemPlugin.kt
  implementations/kt/src/commonMain/kotlin/io/polywrap/plugins/filesystem/wrap/module.kt
  implementations/kt/src/commonMain/kotlin/io/polywrap/plugins/filesystem/wrap/types.kt
  implementations/kt/src/commonMain/kotlin/io/polywrap/plugins/filesystem/wrap/wrap.info.kt
  implementations/kt/src/commonTest/kotlin/EmptyMockInvoker.kt
  implementations/kt/src/commonTest/kotlin/io/polywrap/plugins/filesystem/FileSystemPluginIntegrationTest.kt
  implementations/kt/src/commonTest/kotlin/io/polywrap/plugins/filesystem/FileSystemPluginTest.kt
Owners: @dOrgJelli

fixed typo in cd
  .github/workflows/file-system-plugin-kt-cd.yaml
Owners: @dOrgJelli

changed kotlin plugin publication coordinates
  implementations/kt/build.gradle.kts
Owners: @dOrgJelli

renamed kotlin plugin root project
  implementations/kt/settings.gradle.kts
Owners: @dOrgJelli

chore: bump js implementation version
  implementations/js/package.json
  implementations/js/yarn.lock
Owners: @krisbitney

0.10.2 release
  implementations/kt/build.gradle.kts
Owners: @dOrgJelli

kotlin plugin 0.10.3 release
  implementations/kt/build.gradle.kts
Owners: @dOrgJelli

kotlin plugin 0.10.4 release
  implementations/kt/build.gradle.kts
Owners: @dOrgJelli

.github/CODEOWNERS:

# Default
* @dOrgJelli

# Interface
interface @krisbitney

# Js implementation
implementations/js @krisbitney

# Py implementation
implementations/py @Niraj-Kamdar
